---
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";

// Get the dynamic parameter from the URL
export async function getStaticPaths() {
  const groups = await getCollection("groups");

  return groups.map((group) => ({
    params: { groupId: group.data.groupId },
    props: { group },
  }));
}

// The group will be passed as a prop
const { group } = Astro.props;
---

<Page
  content={{
    hero: {
      imagePath: group.data.imagePath,
      altText: group.data.imgAlt,
    },
    breadcrumbs: [
      { title: "Groups", href: "/groups" },
      { title: group.data.title },
    ],
  }}
>
  <div class="mx-auto max-w-3xl pt-4">
    <h1 class="mb-4 font-mono text-3xl font-bold">{group.data.title}</h1>

    <div class="prose prose-xl max-w-none dark:prose-invert">
      <div set:html={group.rendered.html} />
      {
        group.data.organizers?.length > 0 && (
          <div class="mt-8">
            <h2 class="mb-2 text-xl font-semibold">Organizers</h2>
            <ul>
              {group.data.organizers.map((organizer) => (
                <li>{organizer}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</Page>
