---
import GitHubLogo from "../assets/social/github.svg";
import LinkedinLogo from "../assets/social/linkedin.svg";
import MeetupLogo from "../assets/social/meetup.svg";
---

<footer
  class="border-t-2 bg-neutral-200 dark:bg-gradient-to-tr dark:from-neutral-950 dark:to-neutral-900 border-orange-600 dark:border-orange-900 mt-24 py-12"
>
  <div class="mx-auto max-w-7xl px-6 text-center">
    <div class="flex justify-center space-x-6">
      <a href="https://github.com/codesyracuse">
        <span class="sr-only">GitHub</span>
        <GitHubLogo
          class="h-12 w-12 rounded-full bg-neutral-800 p-2.5 text-gray-100 hover:bg-[#181717]"
        />
      </a>
      <a href="https://twitter.com/syracuseio">
        <span class="sr-only">LinkedIn</span>
        <LinkedinLogo
          class="h-12 w-12 rounded-full bg-neutral-800 p-2.5 text-gray-100 hover:bg-[#0A66C2]"
        />
      </a>
      <a href="https://www.meetup.com/syracuseio">
        <span class="sr-only">Meetup</span>
        <MeetupLogo
          class="h-12 w-12 rounded-full bg-neutral-800 p-2.5 text-gray-100 hover:bg-[#ED1C40]"
        />
      </a>
    </div>

    <div class="mt-8 text-center text-gray-600 dark:text-gray-400">
      <p class="text-md">
        Syracuse.io is a <a
          href="https://codesyracuse.com"
          class="text-gray-900 dark:text-gray-100 hover:underline"
          >CODE Syracuse</a
        > project
      </p>
      <p class="mt-2 text-xs">
        Built with <a
          href="https://www.astro.build/"
          class="text-gray-900 dark:text-gray-100 hover:underline">Astro</a
        > • Deployed on <a
          href="https://www.cloudflare.com/"
          class="text-gray-900 dark:text-gray-100 hover:underline">Cloudflare</a
        > • Source on <a
          href="https://github.com/codesyracuse/syracuse.io"
          class="text-gray-900 dark:text-gray-100 hover:underline">GitHub</a
        >
      </p>
    </div>
  </div>
</footer>
