---
import GitHubLogo from "../assets/github.svg";
import TwitterLogo from "../assets/twitter.svg";
import MeetupLogo from "../assets/meetup.svg";
---

<footer
  class="border-t-2 bg-neutral-200 dark:bg-gradient-to-tr dark:from-neutral-950 dark:to-neutral-900 border-orange-600 dark:border-orange-900 mt-24 py-12"
>
  <div class="mx-auto max-w-7xl px-6 text-center">
    <div class="flex justify-center space-x-6">
      <a
        href="https://github.com/syracuseio"
        class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
      >
        <span class="sr-only">GitHub</span>
        <svg
          class="h-12 w-12 rounded-full bg-gray-700 p-2.5"
          viewBox="0 0 24 24"
          fill="white"
        >
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          ></path>
        </svg>
      </a>
      <a
        href="https://twitter.com/syracuseio"
        class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
      >
        <span class="sr-only">Twitter</span>
        <svg
          class="h-12 w-12 rounded-full bg-gray-700 p-2.5"
          viewBox="0 0 24 24"
          fill="white"
        >
          <path
            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.meetup.com/syracuseio"
        class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
      >
        <span class="sr-only">Meetup</span>
        <svg
          class="h-12 w-12 rounded-full bg-gray-700 p-2.5"
          viewBox="0 0 24 24"
          fill="white"
        >
          <path
            d="M0.0410156 11.5C0.0410156 5.149 5.1891 0 11.541 0C17.892 0 23.041 5.149 23.041 11.5C23.041 17.851 17.892 23 11.541 23C5.1891 23 0.0410156 17.851 0.0410156 11.5ZM11.541 5.75C9.8528 5.75 8.4902 7.11264 8.4902 8.8C8.4902 10.4874 9.8528 11.85 11.541 11.85C13.2283 11.85 14.591 10.4874 14.591 8.8C14.591 7.11264 13.2283 5.75 11.541 5.75ZM5.4394 16.1C5.4394 14.4126 7.0394 13.05 9.0394 13.05H14.041C16.041 13.05 17.641 14.4126 17.641 16.1V17.25H5.4394V16.1Z"
          ></path>
        </svg>
      </a>
    </div>

    <div class="mt-8 text-center text-gray-600 dark:text-gray-400">
      <p class="text-md">
        Syracuse.io is a <a
          href="https://codesyracuse.com"
          class="text-gray-900 dark:text-gray-100 hover:underline"
          >CODE Syracuse</a
        > project
      </p>
      <p class="mt-2 text-xs">
        Built with <a
          href="https://www.astro.build/"
          class="text-gray-900 dark:text-gray-100 hover:underline">Astro</a
        > • Deployed on <a
          href="https://www.cloudflare.com/"
          class="text-gray-900 dark:text-gray-100 hover:underline">Cloudflare</a
        > • Source on <a
          href="https://github.com/codesyracuse/syracuse.io"
          class="text-gray-900 dark:text-gray-100 hover:underline">GitHub</a
        >
      </p>
    </div>
  </div>
</footer>
