---
const { content } = Astro.props;
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content?.title || "Syracuse.io"}</title>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/githubnext/monaspace@latest/fonts/webfonts/MonaspaceNeon-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/githubnext/monaspace@latest/fonts/webfonts/MonaspaceNeon-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/githubnext/monaspace@latest/fonts/webfonts/MonaspaceNeon-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>
  <body class="bg-neutral-50 dark:bg-neutral-900">
    <Navigation />
    <div class="min-h-screen">
      <slot />
    </div>
    <Footer />
  </body>
</html>
