---
const { content, wide } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
---

<BaseLayout content={content}>
  <div class="wrap">
    {
      content?.breadcrumbs && (
        <div class="pt-8">
          <Breadcrumbs items={content.breadcrumbs} />
        </div>
      )
    }
    {
      content?.title && (
        <Title title={content.title} subtitle={content.subtitle} />
      )
    }

    <main
      class:list={[
        "prose prose-lg mt-10 prose-a:text-brick",
        wide && "max-w-none",
      ]}
    >
      <slot />
    </main>
  </div>
</BaseLayout>
